.faq {
    width: 80%;
    margin: 0em auto 1em auto;
    display: flex;
    flex-direction: column;
    height: 37rem;
    align-items: center;
}

.faq-input {
  border-color: #1863ff;
  outline: none;
  border: double 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
  linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}
  
.faq-container {
    padding-bottom: 10px;
}

.faq-image {
    width: 95%;
    margin-left: auto;
}

.faq-block {
    margin-left: 2%;
    width: 60vw;
    height: auto;
    max-height: 35.8rem;
    border-radius: 8px;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.faq-block::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.faq-block-light {
    background-color: hsl(210, 64%, 9%);
}
.faq-question {
    font-weight: 600;
    font-size: 1.1rem;
}

.accord-dark {
    background: linear-gradient(45deg, #4e4376 0%, #2b5876 90%);
    margin: 12px 0;
    border-radius: 10;

    &:hover {
        background: linear-gradient(45deg, rgba(255, 0, 90, 1) 0%, rgba(10, 24, 61, 1) 90%);
        transition: all 0.3s ease-in-out;
    }
}

.btns-container {
    width: 100%;
    margin-top: 20px;
}
.btns {
    font-weight: bolder;
}
#delete-btn {
    margin-left: 10px;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(243, 109, 109));
}
#update-btn {
    background: linear-gradient(45deg, rgb(115, 196, 228), rgb(111, 111, 247));
}
.accord-details {
    display: flex;
    flex-direction: column;
}
.edit-dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
    border-radius: 15px;
    z-index: 10013;
    width: 60%;
    height: auto;
    background-color: #e7e7e7;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

.edit-dialog-heading {
    text-align: center; 
    padding-top: 20px;
}
  
.edit-form {
    width: 85%;
    margin: 0 auto;
}
  
.edit-form label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}
  
.edit-form input[type="text"],
.edit-form textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #bbbaba;
    border-radius: 10px;
    padding: 0 25px;
    color: #777777;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}
  
.edit-form textarea {
    height: 180px;
    resize: none;
}
  
.edit-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
  }
  
.submit-btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: rgb(219, 0, 0);
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.checkbox {
    cursor: pointer;
    margin-bottom: 10px;
}

  
@media screen and (max-width: 750px) {
    .edit-dialog {
      width: 95%;
      margin: 20% auto;
    }
  
    .edit-form input,
    .edit-form textarea {
      height: 40px;
    }
  
    .edit-actions button {
      font-size: 14px;
    }
}
  