.terms {
  color: white;
  background-color: hsl(210, 64%, 9%);
  padding: 40px 40px 40px 40px;
}

.terms-img {
  width: 100%;
  height: 50vh;
  opacity: 0.8;
}

.agreement {
  padding: 60px 20px 60px 20px;
}

.terms h1 {
  color: #fff;
  font-weight: 900;
  font-family: "Futura LT Book";
  font-size: 55px;
  text-shadow: 2px 2px grey;
}

.agree {
  width: 40%;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .terms-img {
    height: 35vh;
  }

  .terms h1 {
    font-size: 45px;
  }

  .agree {
    width: 60%;
    margin: 0 auto;
  }
}
