.social-icon{
    margin: 20px 20px;
    color: white;
    
}
.social-icon:hover{
    color:#a9a9ec
}

.copyright{
    color: white;
}

#footer{
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6868cb;
    padding: 3% 0%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    
}