.resourceSection {
  display: flex;
  background-color: #fff;
}

.resourceImage {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.resourceImage img {
  max-width: 100%;
  margin-top: 30px;
}

.resourceForm {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

::-webkit-calendar-picker-indicator:hover {
  filter: invert(60%) sepia(50%) saturate(10000%) hue-rotate(0deg);
  cursor: pointer;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.resourceCard {
  width: 75%;
  height: auto;
  background-color: #e7e7e7;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
  padding-bottom: 2rem;
}

.resourceInput {
  position: relative;
}

.resourceInput input,
.resourceInput textarea,
.resourceInput1 select {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 5px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  color: #777777;
  margin-bottom: 20px;
  margin-bottom: 30px !important;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

.resourceInput input::placeholder,
.resourceInput textarea::placeholder {
  opacity: 1;
  color: #777777;
}

.resourceInput input::-moz-placeholder,
.resourceInput textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.resourceInput input::-moz-placeholder,
.resourceInput textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.resourceInput input::-webkit-input-placeholder,
.resourceInput textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.resourceInput input:focus,
.resourceInput textarea:focus,
.resourceInput1 select:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

.resourceInput textarea {
  padding-top: 15px;
  resize: none;
  height: 100px;
}

.valid {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  margin-bottom: 25px;
}

.resourceInput > textarea#txt_desc {
  height: 150px !important;
}

.resourceInput i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: rgb(134, 131, 131);
  cursor: pointer;
}

.fa-user:hover {
  color: #34b7f1;
}

.fa-phone:hover {
  color: #32e25e;
}

.fa-envelope:hover {
  color: #c71610;
}

.fa-link:hover {
  color: #5214e0;
}

.fa-pen-square:hover {
  color: #5c0572;
}

.insideResource {
  width: 85%;
  margin: 0 auto;
}

[type="radio"] {
  width: 24px;
  height: 18px;
  vertical-align: text-bottom;
}

.levelOfTrust {
  display: block;
}

.radioButtons {
  display: inline;
  margin-bottom: 1rem;
}

.radioItem {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radioItem input[type="radio"] {
  display: inline-block;
}

.radioItem label {
  color: black;
  font-weight: normal;
  vertical-align: middle;
}

.radioItem label:before {
  display: inline-block;
  position: relative;
  top: 5px;
  border-radius: 11px;
  border: 2px solid grey;
  background-color: transparent;
}

.radioItem input[type="radio"]:checked + label:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 8px;
  content: " ";
  display: block;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 90, 1),
    rgba(10, 24, 61, 1)
  );
  border: 4px solid whitesmoke;
}

.resourceInput1 {
  margin-bottom: 1.5rem;
}

input[type="date"]:not(:valid):before {
  content: attr(placeholder);
  /* style it like it is a real placeholder */
}

.formCheck {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0px;
}

.validUntil {
  padding-top: 1rem;
}

.formRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formGroup {
  padding-right: 0.25em;
}

.resourceHeaderText {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.submitBtn {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}

.submitBtnText {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .resourceSection {
    flex-direction: column;
    width: 100%;
  }

  .formGroup {
    width: 100%;
  }

  .formGroup2 {
    width: 100%;
  }

  .resourceParent {
    width: 85%;
    margin: 10% auto;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .submitBtnText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: black;
  }

  .submitBtn {
    width: 60% !important;
    margin: 0 auto;
  }

  .radioItem input[type="radio"]:checked + label:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 8px;
    content: " ";
    display: block;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 90, 1),
      rgba(10, 24, 61, 1)
    );
    border: 3px solid whitesmoke;
  }

  .label {
    margin-left: 0.6rem !important;
    margin-right: 0.6rem !important;
  }
}

@media only screen and (max-width: 640px) {
  .label {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  [type="radio"] {
    width: 29px;
    height: 18px;
  }

  .levelOfTrust {
    display: block;
  }

  .radioButtons {
    margin-bottom: 1rem;
  }

  .radioItem {
    display: inherit;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }

  .radioItem input[type="radio"]:checked + label:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 18px;
    content: " ";
    display: block;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 90, 1),
      rgba(10, 24, 61, 1)
    );
    border: 3px solid whitesmoke;
  }
}
