.resource-section {
  display: flex;
  background-color: #e7e7e7;
}

.resource-input {
  position: relative;
}

.resource-parent {
  display: flex;
  padding: 80px 0;
}

.resource-input input,
.resource-input textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 5px;
  padding: 0 25px;
  color: #777777;
  margin-bottom: 20px;
  margin-bottom: 30px !important;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}
.resource-input input::placeholder,
.resource-input textarea::placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input::-moz-placeholder,
.resource-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input::-moz-placeholder,
.resource-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input::-webkit-input-placeholder,
.resource-input textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input:focus,
.resource-input textarea:focus {
  border-color: #1863ff;
  background-color: #eaf1ff;
}

.resource-input textarea {
  padding-top: 15px;
  resize: none;
  height: 100px;
}

.resource-input > textarea#txt_desc {
  height: 150px !important;
}

.resource-input i {
  position: absolute;
  right: 25px;
  top: 40px;
  font-size: 16px;
  color: #000;
}

.resource-child {
  flex: 1;
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.inside-resource {
  width: 85%;
  margin: 0 auto;
}

.resource-input1 .trust {
  margin-left: 18px !important;
  margin-right: 8px !important;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 2rem;
}
.form-check {
  padding-top: 1rem;
  padding-bottom: 1rem;

  width: 500px;
  font-size: medium;
}
.valid_until {
  padding-top: 1rem;
}
.resource-image {
  width: 90%;
}

.rad {
  position: relative;
}

.rad label {
  display: inline;
  position: absolute;
  top: 14px;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.form-group2 {
  padding-left: 1rem;
}
.resource-header-text {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
}
.resource-card {
  width: 75%;
  height: auto;
  background-color: #e7e7e7;
  margin: 15% auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

@media screen and (max-width: 991px) {
  .resource-header-text {
    padding: 30px 0;
    text-align: center;
    color: var(--secondary-color);
    text-transform: capitalize;
  }
  .resource-parent {
    display: block;
    width: 100%;
  }

  .child1 {
    padding: 0 0 10px;
  }
}
