.resource-section {
  display: flex;
  background-color: #f5f5f5;
}

.resource-image {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.resource-image img {
  max-width: 100%;
}

.resource-form {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.resource-card {
  width: 75%;
  height: auto;
  background-color: #e7e7e7;
  margin: 15% auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
  padding-bottom: 2rem;
}

.resource-input {
  position: relative;
}

.resource-input input,
.resource-input textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 5px;
  padding: 0 25px;
  color: #777777;
  margin-bottom: 20px;
  margin-bottom: 30px !important;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

.resource-input input::placeholder,
.resource-input textarea::placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input::-moz-placeholder,
.resource-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input::-moz-placeholder,
.resource-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input::-webkit-input-placeholder,
.resource-input textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input:focus,
.resource-input textarea:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

.resource-input textarea {
  padding-top: 15px;
  resize: none;
  height: 100px;
}

.resource-input > textarea#txt_desc {
  height: 150px !important;
}

.resource-input i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: rgb(134, 131, 131);
  cursor: pointer;
}

.fa-user:hover {
  color: #34b7f1;
}
.fa-phone:hover {
  color: #32e25e;
}
.fa-envelope:hover {
  color: #c71610;
}
.fa-link:hover {
  color: #5214e0;
}
.fa-pen-square:hover {
  color: #5c0572;
}
.inside-resource {
  width: 85%;
  margin: 0 auto;
}

.resource-input1 .trust {
  margin-left: 18px !important;
  margin-right: 8px !important;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 2rem;
}

.form-check {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0px;
}

.valid_until {
  padding-top: 1rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group {
  padding-right: 0.25em;
}

.resource-header-text {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.submit-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .resource-section {
    flex-direction: column;
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

  .form-group2 {
    width: 100%;
  }

  .resource-parent {
    width: 85%;
    margin: 10% auto;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .submit-btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: black;
  }
}
