.popup-creator {
  width: 100%;
}

.question_form {
  width: 50%;
  border: 2px solid #2a4886;
  border-radius: 7px;
  margin: 5% 5% 5% 25%;
}
.close-popup {
  position: relative;
  margin-top: 1%;
  background: #69a9dd;
  color: white;
  margin-left: 95%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
