.popup-creator {
  width: 100%;
  min-height: 80vh;
}

.question_form {
  padding: 2rem;
  width: 50%;
  border: 2px solid #2a4886;
  border-radius: 1rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tags-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.tag-space {
  width: fit-content;
}

.close-popup {
  color: black;
  background: #69a9dd;
  margin-left: 96.5%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
}

.toppings-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  li {
    width: 8rem;
  }
}

.question-cards {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 40px 40px 40px;
}

.question-card {
  width: 350px;
  height: auto;
  background: #282c35;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-up {
  padding: 10px;
}

.card-down {
  width: 100%;
  height: auto;
  background-color: #243e74;
  color: white;
  padding: 10px;
  border-top: 1px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-down p {
  margin: 0;
}

.vote-btn {
  background-color: #69a9dd;
  outline: 1px solid white;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .toppings-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .question_form {
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .question_form {
    width: 85%;

    margin: 5% 5% 5% 5%;
  }
}
@media (max-width: 400px) {
  .question-cards {
    padding: 40px 10px 40px 10px;
  }
  .question-card {
    width: 100%;
  }
}

.data-loader {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.answer-btn{
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 5px 8px;
  border: none;
  outline: none !important;
  background-color: white;
  font-family: "Futura LT Book";
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
}
.question-author{
  width: 100%;
  padding-top: 10px;
  text-align: right;
}