.ScrollToTop {
  position: fixed;
  right: 20px;
  bottom: 10px;
  font-size: 2.6em;
  color: #000000;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
}

.ScrollToTop.visible {
  transform: scale(1);
}
