@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap');

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6868cb;
  color: white;
  text-align: center;
  height: 4vh;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
  
}
.footer h2 { 
    margin: auto;
    width: 50%;
    font-size: 20px;
}