@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.topnav {
    background-color:#6868cb;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 20;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .topnav .login {
        float: right;
  }