.slider-div {
  padding: 2em 0;
}

.slide {
  background-color: #121f3a;
  width: 100%;
  margin: 1em auto;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.carousel-head {
  color: #121f3a !important;
  font-size: 35px !important;
}

.slide-card {
  min-height: 25em;
  border-radius: 20px;
  background-color: #016795;
  color: white;
  margin: 0.8em 1.5em 0;
  padding: 1em;
}

.card-head {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.card-text {
  padding: 0 0.5em 2em 0.5em !important;
  height: 50px !important;
  line-height: 1.4;
  text-align: center;
  font-size: 14px;
  word-spacing: 1px;
}
.slide-card:hover {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    rgba(10, 24, 61, 1) 90%
  );
  color: white;
  cursor: pointer;
}
