.modals {
  width: 75%;
  background-color: white !important;
  border-radius: 10px;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .modals {
    position: fixed;
    height: 73%;
  }

  .link {
  }

  .main-cont {
    flex-direction: column;
    overflow-y: scroll;
    height: auto;
    max-height: 100%;
  }

  .image {
    width: 95%;
  }

  .cont {
    width: 95%;
    font-size: 15px;
  }
}

.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.link {
  background-color: #016795;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 1em 0;
}

.link:hover {
  cursor: pointer;
  color: #121f3a;
}

.mod_head {
  background-color: #016795;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  align-items: center;
}

.close-btn {
  float: right;
  padding-right: 25px;
}

.close-btn:hover {
  color: #121f3a;
  cursor: pointer;
}

.main-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  overflow-y: scroll;
  height: auto;
  max-height: 70%;
}

.image {
  width: 48%;
  border-radius: 20px;
}

.cont {
  width: 48%;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
}

@media (max-width: 991px) {
  .modals {
    width: 95%;
    height: 68%;
  }

  .link {
    height: auto;
  }

  .main-cont {
    flex-direction: column;
    padding: 0.75em 0;
    overflow-y: scroll;
    height: auto;
    max-height: 70%;
  }

  .image {
    width: 95%;
  }

  .cont {
    margin: 1em 0;
    width: 95%;
    font-size: 14px;
    line-height: 1.2;
  }
}
