main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100vw;
}
#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

#title {
  display: flex;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
}

#allCards {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  margin: 0.5em;
}

@media screen and (orientation: portrait) {
  #hero {
    flex-direction: column;
  }

  img {
    max-width: 100vw;
  }
}
