.join-us {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4rem 7rem;
  align-items: center;
  justify-content: center;
}
//Updated the background color of join us section in light mode
.join-us-light {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,170,233,1) 99%);
}

// Updated the background color of join us section in Dark mode
.join-us-dark {
  
  background: linear-gradient(45deg, #4e4376, #2b5876 90%);
}

.join-us h1 {
  font-size: 3.6rem;
  margin-bottom: -5px;
}

.join-us-light h1 {
  color: rgb(18, 31, 58);
}

// for dark theme
.join-us-dark h1 {
  color: #69a9dd;
}

.join-us h2 {
  text-align: center;
}

.subtitle-light {
  color: #2f4052;
}

// for dark theme
.subtitle-dark {
  color: whitesmoke;
}

.main-btn.main-btn-2 {
  width: auto !important;
}

.join-us a {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .join-us {
    padding: 1rem 1.2rem;
  }
}
