.join-us {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4rem 7rem;
  align-items: center;
  justify-content: center;
}

.join-us-light {
  background-image: linear-gradient(141deg, #ff551f, #fabf67 60%, #ff8f6c);
}

// for dark theme
.join-us-dark {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.join-us h1 {
  font-size: 3.6rem;
  margin-bottom: -5px;
}

.join-us-light h1 {
  color: rgb(18, 31, 58);
}

// for dark theme
.join-us-dark h1 {
  color: #69a9dd;
}

.join-us h2 {
  text-align: center;
}

.subtitle-light {
  color: #2f4052;
}

// for dark theme
.subtitle-dark {
  color: whitesmoke;
}

.main-btn.main-btn-2 {
  width: auto !important;
}

.join-us a {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .join-us {
    padding: 1rem 1.2rem;
  }
}
