.sliderDiv {
  padding: 2em 0;
}

.slide {
  background-color: #121f3a;
  width: 100%;
  margin: 1em auto;
  padding-top: 2em !important;
}

.carouselHead {
  color: #121f3a !important;
  font-size: 35px !important;
}

.slideCard {
  min-height: 25em;
  border-radius: 20px;
  background-color: #016795;
  color: white;
  margin: 0.8em 1.5em 0;
  padding: 1em;
}

.slideCard:hover {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    rgba(10, 24, 61, 1) 90%
  );
  color: white;
  cursor: pointer;
}

.cardHead {
  text-align: center;
  width: 100%;
}

.cardText {
  margin: 1.5em 0;
  line-height: 1.5;
  text-align: center;
  font-size: 15px;
}
