.contactSection {
  background: #fff;
  padding: 0 20px;
}

.contactParent {
  display: flex;
  padding: 30px 0;
}

.contactImage {
  max-width: 100%;
}

.contactChild {
  flex: 1;
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contactCard {
  width: 75%;
  height: auto;
  background-color: #e7e7e7;
  margin: 0% auto;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

.contactHeaderText {
  padding: 15px 0;
  margin-bottom: 0px;
  text-transform: capitalize;
  color: var(--secondary-color);
  text-align: center !important;
}

.insideContact {
  width: 85%;
  margin: 0 auto;
}

.contactInput {
  position: relative;
}

.contactInput input,
.contactInput textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 10px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  color: #777777;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

.contactInput input::placeholder,
.contactInput textarea::placeholder {
  opacity: 1;
  color: #777777;
}

.contactInput input::-moz-placeholder,
.contactInput textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.contactInput input::-webkit-input-placeholder,
.contactInput textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.contactInput input:focus,
.contactInput textarea:focus {
  border-color: #1863ff;
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

.contactInput textarea {
  padding-top: 15px;
  height: 180px;
  resize: none;
}

.contactInput i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: #777777;
}

.fa-envelope-open-text:hover {
  cursor: pointer;
  color: #c71610;
}

.fa-user:hover {
  cursor: pointer;
  color: #34b7f1;
}

.fa-pencil-alt:hover {
  cursor: pointer;
  color: #9400d3;
}

.fa-comment-dots:hover {
  cursor: pointer;
  color: #2ecc71;
}

@media screen and (max-width: 750px) {
  .contactParent {
    display: block;
    width: 100%;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .contactCard {
    width: 95%;
    margin: 10% auto;
  }

  .contactInput input,
  .contactBtn {
    height: 40px;
  }

  .contactBtn {
    font-size: 20px;
  }
}

.insideContact > .submitBtn > button {
  width: 100% !important;
}
