.contact-section {
  background: #fff;
  padding: 0 30px;
}

.contact-parent {
  display: flex;
  padding: 80px 0;
}

.contact-input {
  position: relative;
}

.contact-input input,
.contact-input textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 5px;
  padding: 0 25px;
  color: #777777;
  margin-bottom: 20px;
}

.contact-input input::placeholder,
.contact-input textarea::placeholder {
  opacity: 1;
  color: #777777;
}

.contact-input input::-moz-placeholder,
.contact-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.contact-input input::-moz-placeholder,
.contact-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.contact-input input::-webkit-input-placeholder,
.contact-input textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.contact-input input:focus,
.contact-input textarea:focus {
  border-color: #1863ff;
  background-color: #eaf1ff;
}

.contact-input textarea {
  padding-top: 15px;
  height: 180px;
  resize: none;
}

.contact-input i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: #777777;
}
.contact-child {
  flex: 1;
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
}

.contact-header-text {
  font-size: 30px;
  text-transform: capitalize;
  color: #121f3a;
  text-align: center !important;
}

.contact-image {
  max-width: 100%;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inside-contact {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .contact-parent {
    display: block;
    width: 100%;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .contact-header-text {
    padding-left: 0;
    text-align: center !important;
  }
}
