.container {
  height: 100%;
  display: flex;
}

.h1 {
  text-align: center;
}

.contain {
  width: 80%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70%;
}

.card {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #016795;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  margin: 2.5%;
}

.card:hover {
  background: #1b2431;
}

.para {
  min-width: 70%;
  padding: 0.5em;
  border: 3px solid white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .contain {
    width: 90%;
    flex-direction: column;
  }

  .card {
    width: 95%;
    min-height: 10em;
  }
}
