.forgot-password-section-light {
  display: flex;
  background-color: #fff;
}

// for dark theme
.forgot-password-section-dark {
  display: flex;
  background-color: #171717;
}

.forgot-password-image-light {
  flex: 1;
  background-color: var(--secondary-color);
}

// for dark theme
.forgot-password-image-dark {
  flex: 1;
  background-color: #171717;
}

.child1-light {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
}

// for dark theme
.child1-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #171717;
}

.forgot-password-image-light img {
  max-width: 90%;
  margin-left: 5%;
}

// for dark theme
.forgot-password-image-dark img {
  max-width: 90%;
  margin-left: 5%;
}

.forgot-password-form {
  flex: 1;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.forgot-password-card {
  width: 75%;
  height: auto;
  margin: 20% auto;
  border-radius: 10px;
}

.forgot-password-card-light {
  background-color: #e7e7e7;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

// for dark theme
.forgot-password-card-dark {
  background-color: #282c35;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1),
    0px -8px 16px 0px rgba(72, 127, 255, 0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1),
    0px -8px 16px 0px rgba(72, 127, 255, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1),
    0px -8px 16px 0px rgba(72, 127, 255, 0.1);
}

.card-heading {
  padding: 30px 0;
  text-align: center;
  text-transform: capitalize;
}

.card-heading-light {
  color: var(--secondary-color);
}

// for dark theme
.card-heading-dark {
  color: #69a9dd;
}

.inside-card-light {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #000;
}

// for dark theme
.inside-card-dark {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10px;
  color: whitesmoke;
}

.forgot-password-input {
  position: relative;
  margin-bottom: 30px !important;
}

.forgot-password-input input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.forgot-password-input-light input {
  border: 1px solid #bbbaba;
  color: #777777;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

// for dark theme
.forgot-password-input-dark input {
  border: 1px solid #414a4c;
  color: whitesmoke;
  background-color: #333333;
  box-shadow: inset 2px 2px 5px rgba(72, 127, 255, 0.1),
    inset -2px -2px 5px rgba(72, 127, 255, 0.4);
}

.input-forgot-password-light:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

// for dark theme
.input-forgot-password-dark:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #2b5876, #4e4376);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: black;
}

.forgot-password-input-light input:focus {
  border-color: #1863ff;
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

// for dark theme
.forgot-password-input-dark input:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #2b5876, #4e4376);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: black;
}

.forgot-password-input-light input::placeholder {
  opacity: 1;
  color: #777777;
}

.forgot-password-input-light input::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.forgot-password-input-light input:focus {
  background-color: #ffffff;
}

// for dark theme
.forgot-password-input-dark input::placeholder {
  opacity: 1;
  color: whitesmoke;
}

// for dark theme
.forgot-password-input-dark input::-webkit-input-placeholder {
  opacity: 1;
  color: whitesmoke;
}

// for dark theme
.forgot-password-input-dark input:focus {
  background-color: #ffffff;
}

.input-forgot-password {
  outline: none;
}

.forgot-password-input-light i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: #777777;
}

// for dark theme
.forgot-password-input-dark i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: whitesmoke;
}

.forgot-password-input:nth-child(2) i:hover {
  cursor: pointer;
  color: rgb(17, 133, 17);
}

.submit-btn {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px !important;
}

.submit-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  min-width: 100%;
  margin: 0px;
}

.no-border:focus {
  outline: none !important;
}

.no-border {
  outline: none !important;
}

@media screen and (max-width: 750px) {
  .forgot-password-section {
    flex-direction: column;
    width: 100%;
  }

  .forgot-password-card {
    width: 85%;
    margin: 10% auto;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .submit-btn {
    width: 60% !important;
    margin: 0 auto;
  }

  .submit-btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: black;
  }
}

.validation {
  color: red;
  margin-top: 0;
}
