.welcome_section {
  position: relative;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    rgba(10, 24, 61, 1) 90%
  );
  cursor: pointer;
  padding: 1rem;
  height: auto;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10em;
  border-radius: 20px;
  flex-direction: column;
}

.img_admin {
  width: 50%;
  margin: 1em;
}

.h1 {
  font-size: 20px !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.dashing {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.left {
  width: 25%;
  display: flex;
  flex-direction: column;
  min-height: 25em;
  margin-top: 2em;
  background-color: white;
  padding: 1em;
  border-radius: 12px;
}

.right {
  width: 75%;
  margin: 2em 2em 0 2em;
  background-color: white;
  padding: 1em;
  border-radius: 12px;
}

.span {
  font-size: 17px;
  font-weight: bold;
  margin-left: 1em;
}

.features_icons {
  cursor: pointer;
  padding: 0.75em;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    rgba(10, 24, 61, 1) 90%
  );
}

.features_icons1 {
  padding: 0.75em;
  cursor: pointer;
  margin-top: 0.5em;
  border-radius: 20px;
  background: transparent;
  color: black;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .dashing {
    flex-direction: column;
    width: 90%;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    margin: 1em auto;
  }
}
