.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 50px 20px 50px;
  color: #c2d6d7;
  background-color: #121f3a;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 600;
  font-size: 18px;
  color:#fff;
}

.footer address {
  font-style: normal;
  color: #c2d6d7;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #c2d6d7;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #c2d6d7;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #c2d6d7;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #c2d6d7;
}

/*.fa-gitter,*/
.fa-linkedin,
.fa-slack,
/*.fa-facebook,*/
.fa-envelope,
.fa-github {
  padding: 5px;
  color: #fff;
}

.fa-linkedin:hover {
  color: #0088cc;
}

.fa-slack:hover {
  color: #dd2a7b;
}

.fa-envelope:hover {
  color: #c71610;
}

.fa-github:hover {
  color: #000;
}

.footer-dash{
  text-align:center;
  padding-top:2px;
  width: 90px;
  height:2px;
  margin-bottom: 12px;
  background: rgb(255, 0, 90);
  background: /* gradient can be an image */
  linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    purple 90%
  );
  background-size:100% 5px ;/* if linear-gradient, we need to resize it */
}

.footer-text {
  padding-top:10px;
  text-align: center;
  font-size: 0.8rem;
  background: #121f3a;
}

.nav__item {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
