.joinUs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4rem 7rem;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(141deg, #ff551f, #fabf67 60%, #ff8f6c);
}

.joinUs h1 {
  font-size: 3.6rem;
  color: rgb(18, 31, 58);
}

.subtitle {
  color: #2f4052;
}

.main-btn.main-btn-2 {
  width: auto !important;
}

@media screen and (max-width: 600px) {
  .joinUs {
    padding: 1rem 1.2rem;
  }
}
