<<<<<<< HEAD
.section{
  margin-top: 40px;
  margin-bottom: 70px;
}

.image{
  margin-top: 70px;
  margin-left: 40px;
}
.img{
  width: 100%;
}

.login {
  margin-left: 70px;
  width: 370px !important; 
  padding: 60px;
  background:white;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-radius: 20px; 
=======
.image{
  position: relative;
  top: 8px;
  left: 16px;
}
.img{
  margin-left: 1%;
  margin-top: 7%;
  width: 63%;
}

.section {
  display: inline-block;
}

.login {
  position: relative ;
  top: 37%;
  margin-top: -220px;
  left: 85%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:white;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-radius: 10px;
>>>>>>> main
}

.login h2 {
  letter-spacing: 1px;
<<<<<<< HEAD
  margin: 0 0 25px;
  font-size: 50px;
=======
  margin: 0 0 15px;
  font-size: 40px;
>>>>>>> main
  color: rgb(27,36,49);
  text-align: center;
}

<<<<<<< HEAD

=======
.login .inputs {
  position: relative;
}
>>>>>>> main
.login .inputs i{
  color: grey;
  font-size: 15px;
  margin-left: -33px;
  margin-top: 15px;
<<<<<<< HEAD
=======
  position: absolute;
>>>>>>> main
}

.login .inputs input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color:  rgb(27,36,49);
  margin-left: 0px;
<<<<<<< HEAD
  margin-bottom: 40px;
=======
  margin-bottom: 20px;
>>>>>>> main
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.login label {
  letter-spacing: 2px;
  font-size: large;
  font-weight: bolder;
  margin-left: 5px;
  margin-top: -1px;
  color: rgb(27,36,49);
} 

<<<<<<< HEAD
@media(max-width: 500px) {
  .image{
  margin-left: 10px;
  margin-bottom: 30px;
  }
  .login{
    margin-left: 30px;
  }
} 
=======
@media(max-width: 1070px) {
  .image{
    position: relative;
    top: 8px;
    left: 10px;
  }
  .img{
    margin-left: 1%;
    margin-top: 7%;
    width: 50% !important;
  }
  .login{
    width: fit-content;
    position: relative !important ;
    left: 200px;
    top: -130px;
    height: 400px;
    margin-bottom: 100px;
    margin-top: -50px;
  }
}

@media(max-width: 800px) {
  .image{
    display: none;
  }
  .login{
    width: 400px;
    position: relative !important ;
    left: -300px;
    top: 300px;
    height: 400px;
    margin-bottom: 100px;
    margin-top: -50px;
  }
}
@media(max-width: 500px) {
  .image{
    display: none;
  }
  .login{
    width: auto;
    position: relative !important ;
    left: -370px;
    top: 300px;
    height: 400px;
    margin-bottom: 100px;
    margin-top: -50px;
  }
}


  /* .login-card {
    width: 85%;
    margin: 10% auto;
  }

  .child1 {
    padding: 0 0 10px;
  } */
>>>>>>> main
