
  .contact-image1{
    max-width: 70%;
   margin-left: 50px;
  }

  .center{
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .Btn{
    
    font-size: 5px;
    background-color: rgb(54, 98, 218) !important;
  }