.login-section {
  display: flex;
  background-color: #fff;
}

.login-image {
  flex: 1;
  background-color: var(--secondary-color);
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
}

.login-image img {
  max-width: 100%;
}

.login-form {
  flex: 1;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-card {
  width: 75%;
  height: auto;
  background-color: #e7e7e7;
  margin: 20% auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

.card-heading {
  padding: 30px 0;
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.inside-card {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.login-input {
  position: relative;
}

.login-input input {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 10px;
  padding: 0 25px;
  color: #777777;
  margin-bottom: 30px !important;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

.inputLogin:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

.login-btn {
  margin: 0 auto;
  margin-bottom: 30px !important;
  width: 40% !important;
}

.login-input input::placeholder {
  opacity: 1;
  color: #777777;
}

.login-input input::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.login-input input:focus {
  background-color: #ffffff;
}

.inputLogin {
  outline: none;
}

.login-input i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: #777777;
}

.fa-eye-slash,
.fa-eye {
  cursor: pointer;
}
.fa-eye:hover {
  color: rgb(17, 133, 17);
}

@media screen and (max-width: 750px) {
  .login-section {
    flex-direction: column;
    width: 100%;
  }

  .login-card {
    width: 85%;
    margin: 10% auto;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .login-btn {
    width: 60% !important;
  }
}
