.head {
  text-align: center;
}

.manage-qas {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin: 2em;
  height: auto;
}

.content {
  overflow: hidden;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.crd {
  min-width: 220px;
  max-width: 470px;
  width: 100%;
  min-height: 12em;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 15px 8px 8px 8px;
  align-items: center;
  justify-content: center;
  background-color: #016795;
  box-shadow: 1em 1em 1em #363535;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  overflow: hidden; 
  transition: background-color 0.3s ease; 
}

.crd:hover {
  color: white;
  background: #1b2431;
}

.crd > .head1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 0.5em;
}

.crd > .head1 > h4 {
  margin: 0 1em;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 983px) {
  .manage-qas {
    grid-template-columns: auto;
    margin: auto;
    justify-content: center;
  }

  .crd {
    max-width: 400px;
  }

  .content {
    overflow-wrap: break-word;
    padding: 1rem 1.2rem;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }

  .manage-qas {
    display: grid;
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 1050px) {
  .content {
    overflow: hidden;
    padding: 1.5rem 3.5rem;
  }
}

.manage {
  width: 120px;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.card-item {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 1em;
  height: auto;
  width: 90%;
  margin: 10px auto 30px auto;
  display: block;
  background-position: left center;
  transition: all 0.5s ease-in;
  background-color: #016795;
  box-shadow: 0.5em 0.5em 0.5em rgb(54, 53, 53);
  max-width: 400px;
}

.card-answer {
  font-weight: 600;
  text-align: left;
  font-size: 1.2rem;
  width: 100%;
  margin: 2px;
}

.questionBox {
  display: grid;
  justify-content: center;
  margin: 5px;
  gap: 10px;
}

.answerBox {
  display: grid;
  justify-content: center;
  margin: 5px;
  gap: 10px;
}

.card-info {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.button-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 2px 2px 2px;
}

.button-approve {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(6, 158, 41);
  margin: 5px;
  color: #fff;
  width: 120px;
  font-size: medium;
  font-weight: bold;
  transition: background-color 200ms;
}

.button-delete {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #fc0254;
  margin: 5px;
  color: #fff;
  width: 120px;
  font-size: medium;
  font-weight: bold;
  transition: background-color 200ms;
  text-align: center;
}

.button-delete:hover {
  background-color: #fc3779;
}

.tags {
  background-color: gainsboro;
  color: black;
  padding: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  height: 25px;
  margin-top: 0;
  border-radius: 4px;
  font-size: small;
}

@media (max-width: 900px) {
  .answerBox {
    display: block;
  }
  .questionBox {
    display: block;
  }
  .answer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
