.resource-section {
  display: flex;
}

.resource-section-light {
  background-color: #fff;
}

// for dark theme
.resource-section-dark {
  background: #171717;
}

.resource-image {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.resource-image img {
  max-width: 100%;
  margin-top: 30px;
}

.resource-image img .child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.resource-form {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

::-webkit-calendar-picker-indicator:hover {
  filter: invert(60%) sepia(50%) saturate(10000%) hue-rotate(0deg);
  cursor: pointer;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.resource-card {
  width: 75%;
  height: auto;
  margin: 30px auto;
  border-radius: 10px;
  padding-bottom: 2rem;
}

.resource-card-light {
  background-color: #e7e7e7;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

// for dark theme
.resource-card-dark {
  color: whitesmoke;
  background-color: #282c35;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1),
    0px -8px 16px 0px rgba(72, 127, 255, 0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1),
    0px -8px 16px 0px rgba(72, 127, 255, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(72, 127, 255, 0.1),
    0px -8px 16px 0px rgba(72, 127, 255, 0.1);
}

.resource-input {
  position: relative;
  margin-bottom: 8px;
}

.resource-input input,
.resource-input textarea,
.resource-input1 select {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}

.resource-input-light input,
.resource-input-light textarea,
.resource-input1-light select {
  border: 1px solid #bbbaba;
  color: #777777;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

// for dark theme
.resource-input-dark input,
.resource-input-dark textarea,
.resource-input1-dark select {
  border: 1px solid #414a4c;
  color: whitesmoke;
  background-color: #333333;
  box-shadow: inset 2px 2px 5px rgba(72, 127, 255, 0.1),
    inset -2px -2px 5px rgba(72, 127, 255, 0.4);
}

.resource-input input::placeholder,
.resource-input textarea::placeholder {
  opacity: 1;
  color: #777777;
}

// for dark theme
.resource-input-dark input::placeholder,
.resource-input-dark textarea::placeholder {
  opacity: 1;
  color: whitesmoke;
}

.resource-input input::-moz-placeholder,
.resource-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

// for dark theme
.resource-input-dark input::-moz-placeholder,
.resource-input-dark textarea::-moz-placeholder {
  opacity: 1;
  color: whitesmoke;
}

.resource-input input::-moz-placeholder,
.resource-input textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.resource-input input::-webkit-input-placeholder,
.resource-input textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

// for dark theme
.resource-input-dark input::-moz-placeholder,
.resource-input-dark textarea::-moz-placeholder {
  opacity: 1;
  color: whitesmoke;
}

.resource-input-dark input::-webkit-input-placeholder,
.resource-input-dark textarea::-webkit-input-placeholder {
  opacity: 1;
  color: whitesmoke;
}

.resource-input-light input:focus,
.resource-input-light textarea:focus,
.resource-input1-light select:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

// for dark theme
.resource-input-dark input:focus,
.resource-input-dark textarea:focus,
.resource-input1-dark select:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #2b5876, #4e4376);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: black;
}

.resource-input textarea {
  padding-top: 15px;
  resize: none;
  height: 100px;
}

.valid {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  margin-bottom: 25px;
}

.resource-input > textarea#txt-desc {
  height: 150px !important;
}

.resource-input i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: rgb(134, 131, 131);
}

.inside-resource {
  width: 85%;
  margin: 0 auto;
}

[type="radio"] {
  width: 24px;
  height: 18px;
  vertical-align: text-bottom;
}

.level-of-trust {
  display: block;
}

.radio-buttons {
  display: inline;
  margin-bottom: 1rem;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type="radio"] {
  display: inline-block;
}

.radio-item label {
  color: black;
  font-weight: normal;
  vertical-align: middle;
}

.radio-item label:before {
  display: inline-block;
  position: relative;
  top: 5px;
  border-radius: 11px;
  border: 2px solid grey;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 8px;
  content: " ";
  display: block;
  border: 4px solid whitesmoke;
}

.radio-item-light input[type="radio"]:checked + label:after {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 90, 1),
    rgba(10, 24, 61, 1)
  );
}

// for dark theme
.radio-item-dark input[type="radio"]:checked + label:after {
  background-image: linear-gradient(to right, #2b5876, #4e4376);
}
.resource-input1 {
  margin-bottom: 1.5rem;
}

input[type="date"]:not(:valid):before {
  content: attr(placeholder);
  /* style it like it is a real placeholder */
}

.form-check {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0px;
}

.valid-until {
  padding-top: 1rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group {
  padding-right: 0.25em;
}

.resource-header-text {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

// for dark theme
.resource-header-text-dark {
  color: #69a9dd;
}

.resource-header-text-light {
  color: var(--secondary-color);
}

.submit-btn {
  display: flex;
  justify-content: center;

  width: 40%;
  margin: 0 auto;
}

.Ask-div-main {
  width: 100%;
  text-align: -webkit-center;
}

.Ask-div {
  width: 40%;
}

.submit-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .resource-section {
    flex-direction: column;
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

  .form-group2 {
    width: 100%;
  }

  .resource-parent {
    width: 85%;
    margin: 10% auto;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .submit-btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: black;
  }

  .submit-btn {
    width: 60% !important;
    margin: 0 auto;
  }

  .radio-item input[type="radio"]:checked + label:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 8px;
    content: " ";
    display: block;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 90, 1),
      rgba(10, 24, 61, 1)
    );
    border: 3px solid whitesmoke;
  }

  .label {
    margin-left: 0.6rem !important;
    margin-right: 0.6rem !important;
  }
}

@media only screen and (max-width: 640px) {
  .label {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  [type="radio"] {
    width: 29px;
    height: 18px;
  }

  .level-of-trust {
    display: block;
  }

  .radio-buttons {
    margin-bottom: 1rem;
  }

  .radio-item {
    display: inherit;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }

  .radio-item input[type="radio"]:checked + label:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 18px;
    content: " ";
    display: block;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 90, 1),
      rgba(10, 24, 61, 1)
    );
    border: 3px solid whitesmoke;
  }
}

.validation {
  color: red;
  margin-top: 0;
}

// for dark theme
.label-dark {
  color: whitesmoke !important;
}
@media screen and (max-width: 1047px) {
  .Ask-div {
    width: 100%;
  }
}

//Card Styles
.card-heading {
  padding-top: 12px;
  margin-bottom: 8px;
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
  font-size: 1.6rem !important;
}

.inside-card {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.goodbye-card {
  width: 60%;
  height: auto;
  background-color: #e7e7e7;
  margin: 20% auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
}

.inside-card p {
  padding: 10px 5px;
  font-size: 1.5rem !important;
  font-weight: 580;
}
