.ppsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15% 3rem 15%;
  color: white;
}

.pplogo {
  width: 100%;
  height: auto;
}

.ppstatementcontainer {
  display: flex;
  flex-direction: column;
}

.ppheadingcontainer {
  background-color: var(--primary-color);
  width: 100vw;
  height: 8rem;
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
}

.ppheading {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 3.2rem 0;
  font-weight: 900;
  color: white;
}

.ppstatement {
  padding-top: 20px;
}

.ppstatement .ppsubheading {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--secondary-color);
}

.ppcontent {
  color: black;
  font-size: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 0.5rem;
}

@media (orientation: portrait) {
  .ppsection {
    flex-direction: column;
    margin: 0;
  }

  .ppheadingcontainer {
    height: 5rem;
    margin-bottom: 0rem;
  }

  .ppheading {
    font-size: 3rem;
    margin: 1.8rem 0;
  }

  .pplogo {
    width: 85vw;
  }

  .ppstatementcontainer {
    margin: 2rem 4vw;
  }
}
