.carousel-div {
  padding: 50px 0px;
}

.dash {
  width: 250px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.dash-light {
  background: rgb(255, 0, 90);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    rgba(10, 24, 61, 1) 90%
  );
}

// for dark theme
.dash-dark {
  background: #2b5876;
  background: linear-gradient(45deg, #2b5876 0%, #4e4376 90%);
}

.motive h1 {
  text-align: center;
  line-height: 1.9;
  font-size: 3.4vw;
}

@media screen and (max-width: 580px) {
  .motive h1 {
    text-align: center;
    line-height: 0.9;
    font-size: 5.4vw;
  }
}

@media (max-width: 500px) {
  .motive {
    padding-bottom: 30px;
  }
}

@media (min-width: 800px) {
  .motive {
    padding-bottom: 30px;
  }
}

@media (min-width: 1100px) {
  .motive {
    padding-bottom: 40px;
  }
}
