.owl-nav button {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  height: 100px;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  background-color: #121f3a !important;
  color: #fff !important;
  padding: 0 15px !important;
  left: 0;
}

.owl-nav button.owl-next {
  background-color: #121f3a !important;
  color: #fff !important;
  padding: 0 15px !important;
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #000;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-dots button.owl-dot span {
  display: none !important;
}

.owl-prev,
.owl-next {
  font-size: 70px !important;
}

/* span {
  font-size: 70px;
  position: relative;
  top: 5px;
} */

.owl-nav button:focus {
  outline: none;
}

@media (max-width: 500px) {
  .owl-carousel .owl-item img {
    height: auto;
    width: 90%;
    padding-left: 9%;
  }
}

@media (min-width: 800px) {
  .owl-carousel .owl-item img {
    width: 90%;
    padding-left: 10%;
  }
}

@media (min-width: 1100px) {
  .owl-carousel .owl-item img {
    width: 100%;
    padding: 0 5%;
  }
}
