.owl-nav button {
  position: absolute;
  top: 20%;
  margin: 0;
  transition: all 0.3s ease-in-out;
  height: 100px;
}

.carousel-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}

.owl-carousel .owl-nav{
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}

.owl-carousel .item {
    text-align: center;
}

.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide{
    background: url(../../nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
}

.owl-carousel .next-slide{
    background: url(../../nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}

.owl-carousel .prev-slide:hover{
   background-position: 0px -53px;
   filter: invert(0);
}

.owl-carousel .next-slide:hover{
  background-position: -24px -53px;
  filter: invert(0);
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  display: block;
  text-transform: capitalize;
}

span.img-text:hover {
  color: #2caae1;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  color: #111;
  border-radius: 20px !important;
  padding: 0 15px !important;
}

.white {
  filter: invert(1);
}

.owl-nav button.owl-prev > span,
.owl-nav button.owl-next > span {
  transform: translateY(35%);
}

.owl-nav button.owl-prev {
  left: 0;
}

.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #000;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-dots button.owl-dot span {
  display: none !important;
}

.owl-nav button:focus {
  outline: none;
}

@media (max-width: 500px) {
  .owl-carousel .owl-item img {
    height: auto;
    width: 90%;
    padding-left: 9%;
  }
}

@media (min-width: 800px) {
  .owl-carousel .owl-item img {
    width: 90%;
    padding-left: 10%;
  }
}

@media (min-width: 1100px) {
  .owl-carousel .owl-item img {
    width: 100%;
    padding: 0 5%;
  }
}
