.joinusformSection {
  display: flex;
  background-color: #fff;
}

.joinusformImage {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.joinusformImage img {
  max-width: 100%;
  margin-top: 160px;
}

.joinusForm {
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.child2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.joinusformCard {
  width: 75%;
  height: auto;
  background-color: #e7e7e7;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #888888, -5px -5px 15px #ffffff;
  padding-bottom: 2rem;
}

.joinusformInput {
  position: relative;
}

.joinusformInput input,
.joinusformInput textarea,
.joinusformInput select,
.joinusformInput1 select {
  width: 100%;
  height: 50px;
  border: 1px solid #bbbaba;
  border-radius: 5px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  color: #777777;
  margin-bottom: 20px;
  margin-bottom: 30px !important;
  background-color: #f1f1f1;
  box-shadow: inset 2px 2px 5px #888888, inset -2px -2px 5px #ffffff;
}

.joinusformInput input::placeholder,
.joinusformInput textarea::placeholder {
  opacity: 1;
  color: #777777;
}

.joinusformInput input::-moz-placeholder,
.joinusformInput textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.joinusformInput input::-moz-placeholder,
.joinusformInput textarea::-moz-placeholder {
  opacity: 1;
  color: #777777;
}

.joinusformInput input::-webkit-input-placeholder,
.joinusformInput textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #777777;
}

.joinusformInput input:focus,
.joinusformInput textarea:focus,
.joinusformInput select:focus,
.joinusformInput1 select:focus {
  outline: none;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(255, 0, 90, 1), rgba(10, 24, 61, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: #ffffff;
}

.joinusformInput textarea {
  padding-top: 15px;
  resize: none;
  height: 80px;
}

.valid {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  margin-bottom: 25px;
}

.joinusformInput i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 16px;
  color: rgb(134, 131, 131);
  cursor: pointer;
}

.user:hover {
  color: #34b7f1;
}

.phone:hover {
  color: #32e25e;
}

.envelope:hover {
  color: #c71610;
}

.link:hover {
  color: #5214e0;
}

.pencil:hover {
  color: #5c0572;
}

.graduation:hover {
  color: #000;
}

.building:hover {
  color: rgb(138, 95, 17);
}

.comments:hover {
  color: pink;
}

.insideJoinusform {
  width: 85%;
  margin: 0 auto;
}

[type="radio"] {
  width: 24px;
  height: 20px;
  vertical-align: text-bottom;
  margin-left: auto;
  margin-right: auto;
}

[type="checkbox"] {
  width: 20px;
  height: 16px;
  vertical-align: text-bottom;
  margin-left: auto;
  margin-right: auto;
}

.mx_3 {
  margin-right: 0px!important;
  margin-left: 1rem!important;
}

.radio_item label:before {
  display: inline-block;
  position: relative;
  top: 5px;
  border-radius: 11px;
  border: 2px solid grey;
  background-color: transparent;
}

.checkbox_item label:before {
  display: inline-block;
  position: relative;
  top: 5px;
  border-radius: 11px;
  border: 2px solid grey;
  background-color: transparent;
}

.checkbox_item input[type="checkbox"]:checked + label:after {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 8px;
  content: " ";
  display: block;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 90, 1),
    rgba(10, 24, 61, 1) 
  );
  border: 4px solid whitesmoke;
}

.radio_item {
  display: inline-block;
  position: relative;
  padding:0 6px;
  margin-bottom: 10px;
}

.radio_item input[type="radio"]:checked + label:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 8px;
  content: " ";
  display: block;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 90, 1),
    rgba(10, 24, 61, 1)
  );
  border: 4px solid whitesmoke;
}

.form_check {
  padding-top: 0px !important;
  padding-bottom: 1rem;
  padding-left: 0px;
}

.YearOfStudy {
  margin-right: 1rem;
  display: block;
}

.ID {
  margin-right: 1rem;
  display: block;
}

.radioButtons {
  display: inline;
  margin-bottom: 1rem;
}

.checkbuttons {
  display: inline;
  margin-bottom: 1rem;
}

.joinusformInput1 {
  margin-bottom: 1.5rem;
}

input[type="date"]:not(:valid):before {
  content: attr(placeholder);
}

.form_check {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0px;
}

.formRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formGroup {
  padding-right: 0.25em;
}

.joinusformHeaderText {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.submitBtn {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.submitBtnText {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .joinusformSection {
    flex-direction: column;
    width: 100%;
  }

  .formGroup {
    width: 100%;
  }

  .formGroup2 {
    width: 100%;
  }

  .child1 {
    padding: 0 0 10px;
  }

  .submitBtnText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    color: black;
  }
}

@media only screen and (max-width: 640px) {
  .label {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  [type="radio"] {
    width: 29px;
    height: 19px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .YearOfStudy {
    display: block;
  }

  .ID {
    display: block;
  }

  .radioButtons {
    margin-bottom: 1rem;
  }

  .joinusformInput1 {
    text-align: center;
  }

  .checkbuttons {
    text-align: left;
  }
}

